.title {
    color: black;
    font-size: 2.5rem !important;
    font-family: WorkSans;
    src: url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap);

}

.navbuttons {
    padding-top: -5px;
    height: 10px;
}

.text-body {
    max-width: 670px;
    font-family: Proxima Nova cond;
    margin: auto;
    text-align: justify;
}

.img-description {
    width: 720px;
    font-family: Roboto Condensed, sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Work+Sans:wght@100&display=swap);
    font-size: 16px;
    color: #222;
}

/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.img-container {
    position: relative;
    width: 100%;
}


img {
    max-width: 100%;
    height: auto;
}

.card {
    height: 265px;
    width: 610px;
}

.card-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.card-img-overlay {
    top: 130px;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-img-pos {
    margin-top: 25px;
    padding-top: 20px;
}

.card-text-title {
    z-index: 100;
    position: absolute;
    bottom: 50px;
    color: #feda84 !important;
    text-align: start;
}

.card-text-date {
    z-index: 100;
    position: absolute;
    bottom: 5px;
    color: #feda84 !important;
}

.text-block {
    display: block;
    position: absolute;
    top: 40%;
    right: 0%;
    width: 40%;
    background-color: #976393dc !important;
    color: #feda84 !important;
    padding-left: 20px;
    padding-right: 20px;
}

.text-block h1 {
    font-weight: bold;
    font-size: 2vw !important;
}


.row {
    justify-content: space-around;
}

.vl {
    display: flex;
    border-left: 1px solid rgb(254, 218, 132);
    height: 40px;
}

.navbar {
    background-color: #976393 !important;
    margin-bottom: -8px !important;
    height: 40px;
    /* width: 700px; */
}

.navbar .container {
    width: 700px;
}

.nav-link {
    color: #feda84 !important;
}

.btn {
    font-weight: bold !important;
    color: black !important;
    border-radius: 1% !important;
    box-shadow: 0px 0 6px -5px black;
    /* box-shadow: none !important; */
}

.btns-line {
    width: 100%;
    height: 26px;
    background-color: #feda84;
}

.btn-home {
    width: 20%;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    background-color: #feda84 !important;
}

.btn-hardware {
    width: 20%;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    /* background-color: #685489 !important; */
    background-color: #feda84 !important;
}

.btn-news {
    width: 20%;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    /* background-color: #ff9b83 !important; */
    background-color: #feda84 !important;
}

.btn-reviews {
    width: 20%;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    /* background-color: #976393 !important; */
    background-color: #feda84 !important;
}

.btn-opinion {
    width: 20%;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    /* background-color: #43457e !important; */
    background-color: #feda84 !important;
}

#sfa {
    width: 700px;
}