{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock%}</title>
    {% block links %}
    {% include 'links.html'%}
    {% endblock %}
</head>
<body>
    {% block articles%}
    {% endblock %}
{% block reviews %}
{% endblock %}
{% block reviewlist %}
{% endblock %}
{% block opinion %}
{% endblock %}
{% block hardware %}
{% endblock %}
{% block news %}
{% endblock %}


{% block scripts %}
{% include 'scripts.html'%}
{% endblock %}
</body>
</html>
