{% extends 'base.html' %}
{% load static %}
{% block title%}{{object.title}}{% endblock%}
    {% block reviews %}
    {% block navbar %}
    {% include 'navbar.html'%}
    {% endblock %}{% block navbar_buttons%}{% include 'navbar_buttons.html'%}{% endblock %}
    {% block game_block_image%}
    {% include 'game_blog_image.html'%}
    {% endblock %}
    <div class="col-6 img-description pull-start">
        <h>TODO: Credits and Author name... {{object.pub_date}}</h>
    </div>
    <div class="container">
        {{object.category}}
        <div class="row">
        </div>
        </div>
        <div class="text-body">
            <h style="text-align:justify">{{object.text|linebreaksbr}}</h>
        </div>
        
    </div>
    {% endblock %}



