{% extends 'base.html' %}
{% load static %}
{% block title%}Contact Us{% endblock%}
{% block contact%}
{% block navbar %}{% include 'navbar.html'%}{% endblock %}
{% block navbarbuttons %}{% include 'navbar_buttons.html'%}{% endblock %}
<div class="container">
    Contact Us
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="button is-success is-fullwidth is-medium mt-5"
                type="submit">Submit
        </button>
    </form>
    
</div>


{% endblock %}