{% block navbar_buttons%}
{% comment %} <p style=""> {% endcomment %}
    <a href="!#"><button type="button" class="btn-home btn ">
    Home </button></a><a href="!#"><button type="button" class="btn-news btn">
    News </button></a><a href="!#"><button type="button" class="btn-reviews btn py-0">
    Reviews</button></a><a href="!#"><button type="button" class="btn-hardware btn py-0">
    Hardware</button></a><a href="!#"><button type="button" class="btn-opinion btn py-0">
    Opinions</button></a>
    {% comment %} </p> {% endcomment %}
{% endblock %}